# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv/
env/
venv/

# Pytest cache
.pytest_cache/

# Mypy cache
.mypy_cache/
.dmypy.json

# Logs
*.log
log.json

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Archives
*.zip
*.tar.gz
